// @font-face {
//   font-family: Roboto, Arial, Helvetica, sans-serif;
//   src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans', sans-serif;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat, sans-serif;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat, sans-serif;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat, sans-serif;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat, sans-serif;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
