$tablet-width: 640px;
$desktop-width: 1280px;
$max-screen-width: 1440px;
$accent-color: #1a5a4c;
$primary-color: #4e4e4e;
$main-color: #0f0e08;
$detail-color: #687480;
$control-color: #e0e0e0;
$h1-color: #000;
$white-color: #fff;
$square-bg: #f14a27;
